{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module", 
    "ecmaFeatures": {
      "jsx": true
  }
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/destructuring-assignment": "off",
    "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": [0]
  }
}
