$global_space: 8px;

/* HSL */
$color1: hsla(315%, 67%, 12%, 1);
$color2: hsla(334%, 56%, 20%, 1);
$color3: hsla(5%, 40%, 40%, 1);
$color4: hsla(20%, 46%, 62%, 1);
$color5: hsla(53%, 58%, 71%, 1);

/* RGB */
$color1: rgba(50, 10, 40, 1);
$color2: rgba(81, 23, 48, 1);
$color3: rgba(142, 68, 61, 1);
$color4: rgba(203, 145, 115, 1);
$color5: rgba(224, 214, 138, 1);